[submodule "robotiq-cri"]
	path = robotiq-cri
	url = https://gitlab.com/art-aist/robotiq-cri
[submodule "realsense-ros"]
	path = realsense-ros
	url = https://gitlab.com/art-aist/realsense-ros
[submodule "aruco_ros"]
	path = aruco_ros
	url = https://github.com/pal-robotics/aruco_ros
[submodule "ddynamic_reconfigure"]
	path = ddynamic_reconfigure
	url = https://gitlab.com/art-aist/ddynamic_reconfigure
[submodule "iiwa_stack"]
	path = iiwa_stack
	url = https://github.com/IFL-CAMP/iiwa_stack
[submodule "ur_robot_driver"]
	path = ur_robot_driver
	url = https://github.com/UniversalRobots/Universal_Robots_ROS_Driver
[submodule "universal_robot"]
	path = universal_robot
	url = https://gitlab.com/art-aist/universal_robot
[submodule "ur_modern_driver"]
	path = ur_modern_driver
	url = https://gitlab.com/art-aist/ur_modern_driver
[submodule "aist_aruco_ros"]
	path = aist_aruco_ros
	url = https://gitlab.com/art-aist-private/aist_aruco_ros
[submodule "aist_graspability"]
	path = aist_graspability
	url = https://gitlab.com/art-aist-private/aist_graspability
