<?xml version="1.0"?>
<robot name="motioncam_m_camera" xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="motioncam_m_camera" params="name parent *origin">

    <xacro:include filename="$(find aist_phoxi_camera)/urdf/PhoXi3Dscanner_values.xacro"/>
    <xacro:include filename="$(find aist_phoxi_camera)/urdf/PhoXi3Dscanner_macro.xacro"/>

    <xacro:PhoXi3Dscanner scanner_parent="${parent}"
			  scanner_name  ="${name}_link"
			  sensor_parent ="${name}_link"
			  sensor_name   ="${name}_sensor">
      <xacro:insert_block name="origin"/>
      <xacro:MotionCam3D_M_default_sensor_origin/>
      <xacro:MotionCam3D_M_meshes/>
    </xacro:PhoXi3Dscanner>

    <gazebo reference="${name}_sensor_reference">
      <sensor name="${name}" type="depth">
	<always_on>true</always_on>
	<visualize>true</visualize>
	<camera>
          <horizontal_fov>0.876</horizontal_fov>
          <image>
            <width>1120</width>
            <height>800</height>
            <format>L8</format>
          </image>
          <depth_camera>
          </depth_camera>
          <clip>
            <near>0.1</near>
            <far>100</far>
          </clip>
	</camera>
	<plugin name="${name}_controller"
		filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.35</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>2.5</updateRate>
          <cameraName>${name}</cameraName>
          <frameName>${name}_sensor</frameName>
          <imageTopicName>texture</imageTopicName>
          <depthImageTopicName>depth_map</depthImageTopicName>
          <pointCloudTopicName>pointcloud</pointCloudTopicName>
          <cameraInfoTopicName>camera_info</cameraInfoTopicName>
          <depthImageCameraInfoTopicName>camera_info</depthImageCameraInfoTopicName>
          <pointCloudCutoff>0.4</pointCloudCutoff>
          <!-- <hackBaseline>0.35</hackBaseline> -->
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
          <CxPrime>0.0</CxPrime>
          <Cx>0.0</Cx>
          <Cy>0.0</Cy>
          <focalLength>0.0</focalLength>
	</plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
