<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find aist_phoxi_camera
			   )/urdf/PhoXi3Dscanner_values.xacro"/>
  <xacro:include filename="$(find aist_phoxi_camera
			   )/urdf/PhoXi3Dscanner_macro.xacro"/>

  <xacro:PhoXi3Dscanner scanner_parent="base_link"
			scanner_name="MotionCam3D"
			sensor_parent="MotionCam3D"
			sensor_name="MotionCam3D_sensor">
    <origin xyz="0 0 0" rpy="0 0 0" /> <!--PhoXi3Dscanner origin-->
    <xacro:MotionCam3D_M_default_sensor_origin/>
    <xacro:MotionCam3D_M_meshes/>
  </xacro:PhoXi3Dscanner>

  <link name ="base_link"/>
</robot>
