<?xml version="1.0" ?>
<robot name="aaa" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:include filename="$(find aist_phoxi_camera
			   )/urdf/phoxi_xs_camera.urdf.xacro" />

  <link name ="base_link"/>

  <xacro:phoxi_xs_camera name="phoxi_xs" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0" />
  </xacro:phoxi_xs_camera>
</robot>
