<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="robotiq_hande" >

  <xacro:arg name="prefix" default=""/>

  <link name="world"/>

  <xacro:include filename="$(find aist_robotiq
			   )/urdf/robotiq_hande_gripper.urdf.xacro" />
  <xacro:robotiq_hande_gripper prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
  </xacro:robotiq_hande_gripper>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>
