<?xml version="1.0"?>
<robot name="robotiq_140_gripper" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default=""/>

  <link name="base_link"/>

  <xacro:include filename="$(find aist_robotiq
			   )/urdf/robotiq_140_gripper.urdf.xacro" />
  <xacro:robotiq_140_gripper prefix="$(arg prefix)" parent="base_link">
    <origin xyz="0 0 0" rpy="0 ${-pi/2} 0"/>
  </xacro:robotiq_140_gripper>

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
      <robotNamespace>/</robotNamespace>
    </plugin>
  </gazebo>

</robot>
