<?xml version="1.0"?>
<robot name="robotiq_arg2f_coupling" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default=""/>

  <link name="base_link"/>

  <xacro:include filename="$(find aist_robotiq
			   )/urdf/robotiq_arg2f_coupling.urdf.xacro" />
  <xacro:robotiq_arg2f_coupling prefix="$(arg prefix)" parent="base_link">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_arg2f_coupling>

</robot>
