<?xml version="1.0"?>
<robot name="robotiq_dual_coupling" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:arg name="prefix" default=""/>

  <link name="world"/>

  <xacro:include filename="$(find aist_robotiq
			   )/urdf/robotiq_dual_coupling.urdf.xacro" />
  <xacro:robotiq_dual_coupling prefix="$(arg prefix)" parent="world">
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </xacro:robotiq_dual_coupling>

</robot>
