<?xml version="1.0"?>
<launch>

  <arg name="prefix"		default="a_bot_gripper_"/>
  <arg name="device"		default="robotiq_85"/>
  <arg name="driver_arg"	default="urcap, 10.66.171.52"/>

  <arg name="type"		value="$(eval driver_arg.split(',')[0])"/>
  <arg name="args"		value="$(eval driver_arg.split(',')[1])"/>

  <node name="$(arg prefix)driver"
	pkg="aist_robotiq" type="cmodel_$(arg type)_driver.py"
	output="screen" respawn="false" args="$(arg args)">
    <remap from="/status"	to="$(arg prefix)controller/status"/>
    <remap from="/command"	to="$(arg prefix)controller/command"/>
  </node>

</launch>
