<launch>

  <arg name="camera_name"	default="a_phoxi_m_camera"/>
  <arg name="config_file"	default="$(dirname)/../config/$(arg
					 camera_name).yaml"/>
  <arg name="external_manager"	default="false"/>
  <arg name="manager"		default=""/>
  <arg name="nthreads"		default="4"/>

  <node if="$(eval manager == '')"
	name="$(arg camera_name)"
	pkg="aist_phoxi_camera" type="aist_phoxi_camera" output="screen">
    <rosparam file="$(arg config_file)" subst_value="true"/>
  </node>

  <group unless="$(eval manager == '')">
    <node unless="$(arg external_manager)"
	  name="$(arg manager)" pkg ="nodelet" type="nodelet"
	  args="manager" output="screen">
      <param name="num_worker_threads"	value="$(arg nthreads)"/>
    </node>

    <node name="$(arg camera_name)" pkg ="nodelet" type="nodelet"
  	  args="load aist_phoxi_camera/aist_phoxi_camera_nodelet
		$(arg manager)">
      <rosparam file="$(arg config_file)" subst_value="true"/>
    </node>
  </group>

</launch>
