<?xml version="1.0"?>
<launch>

  <arg name="prefix"			default="a_bot_gripper_"/>
  <arg name="device"			default="robotiq_85"/>
  <arg name="sim"			default="false"/>

  <!-- For device='robotiq_epick' only -->
  <arg name="advanced_mode"		default="true"/>
  <arg name="grasp_pressure"		default="-70.0"/>
  <arg name="detection_pressure"	default="-10.0"/>
  <arg name="release_pressure"		default="10.0"/>
  <arg name="timeout"			default="1.0"/>

  <group unless="$(eval device == 'robotiq_epick')">
    <!-- Push robot_description to factory and spawn robot in gazebo -->
    <param unless="$(arg sim)"
	   name="robot_description"
	   command="$(find xacro)/xacro
		    '$(dirname)/../urdf/$(arg device)_gripper.urdf'
		    prefix:='$(arg prefix)'"/>

    <!-- Convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher"
  	  type="robot_state_publisher" respawn="false" output="screen"/>

    <!-- Spawn test_client -->
    <node name="test_cmodel_client"
	  pkg="aist_robotiq" type="test_cmodel_client.py"
  	  respawn="false" output="screen">
      <param name="prefix" value="$(arg prefix)"/>
    </node>

    <!-- Spawn Rviz -->
    <node name="$(anon rviz)" pkg="rviz" type="rviz"
	  args="-d $(dirname)/../config/aist_robotiq.rviz" output="screen"/>
  </group>

  <group if="$(eval device == 'robotiq_epick')">
    <node name="test_epick_client"
	  pkg="aist_robotiq" type="test_epick_client.py"
  	  respawn="false" output="screen">
      <param name="prefix"		value="$(arg prefix)"/>
      <param name="advanced_mode"	value="$(arg advanced_mode)"/>
      <param name="grasp_pressure"	value="$(arg grasp_pressure)"/>
      <param name="detection_pressure"	value="$(arg detection_pressure)"/>
      <param name="release_pressure"	value="$(arg release_pressure)"/>
      <param name="timeout"		value="$(arg timeout)"/>
    </node>
  </group>

</launch>
